{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="logo text-center mb-4">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa" style="max-width: 200px;">
    </div>

    <h2 class="text-center mb-4">Login</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.senha.label(class="form-label") }}
            {{ form.senha(class="form-control") }}
        </div>

        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <p class="text-center mt-3">
        Ainda não tem uma conta? <a href="{{ url_for('main.cadastrar_usuario') }}">Criar Login (Apenas Perfil Administrador)</a>.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
