{% extends 'base.html' %}
{% block content %}
<h4>Verificar Temperatura - {{ termometro.identificacao }}</h4>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.temperatura_atual.label(class="form-label") }}
        {{ form.temperatura_atual(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.temperatura_max.label(class="form-label") }}
        {{ form.temperatura_max(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.temperatura_min.label(class="form-label") }}
        {{ form.temperatura_min(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.responsavel.label(class="form-label") }}
        {{ form.responsavel(class="form-control") }}
    </div>

    {% if session.get('is_admin') %}
    <div class="mb-3">
        {{ form.data_manual.label(class="form-label") }}
        {{ form.data_manual(class="form-control") }}
        <div class="form-text">Use este campo apenas se precisar registrar para outra data/hora.</div>
    </div>
    {% endif %}

    <div class="mb-3">
        {{ form.observacao.label(class="form-label") }}
        {{ form.observacao(class="form-select", id="observacao-select") }}
    </div>
    
    <div class="mb-3" id="observacao-custom" style="display: none;">
        {{ form.observacao_personalizada.label(class="form-label") }}
        {{ form.observacao_personalizada(class="form-control") }}
    </div>
    
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const select = document.getElementById("observacao-select");
        const customInput = document.getElementById("observacao-custom");
    
        function toggleInput() {
            if (select.value === "I") {
                customInput.style.display = "block";
            } else {
                customInput.style.display = "none";
            }
        }
    
        select.addEventListener("change", toggleInput);
        toggleInput(); // Rodar ao carregar a página
    });
    </script>
    

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>


{% endblock %}
