{% extends "base.html" %}
{% block content %}
<h4>Registrar Máxima e Mínima - {{ verificacao.termometro.identificacao }}</h4>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.temperatura_max.label(class="form-label") }}
        {{ form.temperatura_max(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.temperatura_min.label(class="form-label") }}
        {{ form.temperatura_min(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-success">Registrar Máxima e Mínima</button>
</form>
{% endblock %}
